<div class="row">
    <div class="col-md-12">
        <h2>My Account</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="loginbox form-horizontal" ng-hide="identity.isAuthenticated()">
            <p>Login</p>
            <div class="form-group">
                <label class="control-label col-md-4" for="inputEmail">Email<span class="required">*</span></label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="newEmail">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="inputPassword">Password<span class="required">*</span></label>
                <div class="col-md-8">
                    <input type="password" class="form-control" ng-model="newPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary" ng-click="login(newEmail, newPassword)">Login</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form class="loginbox form-horizontal"  ng-hide="identity.isAuthenticated()">
            <p>Register</p>
            <div class="form-group">
                <label class="control-label col-md-4" for="inputEmail">Email<span class="required">*</span></label>
                <div class="col-md-8">
                    <input type="text" id="inputEmail" class="form-control" ng-model="email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="inputPassword">Password<span class="required">*</span></label>
                <div class="col-md-8">
                    <input type="password" class="form-control" ng-model="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary" ng-click="signup(email, password)">Register</button>
                </div>
            </div>
        </form>

    </div>
</div>