<div class="row">
    <div class="col-md-12">
        <h2>Delete {{ product.name }}</h2>
    </div>
</div>

<div class="row product-management">
    <div class="col-md-12">
        <div class="alert alert-warning">Do you wan't to delete {{ product.name }}?</div>
        <button class="btn btn-danger" ng-click="deleteProduct(product)">Delete</button>
        <a href="#/management" class="btn btn-primary">Return</a>
    </div>
</div>