<div class="row">
<div class="col-md-12">
    <h2>Your Products</h2>
</div>
</div>

<div class="row product-management">
    <table class="table table-responsive">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <!--<th>Head Brand</th>-->
            <th>Brand</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <!--<td>{{ product.headBrand }}</td>-->
            <td>{{ product.brand }}</td>
            <td>{{ product.description }}</td>
            <td><div class="btn-group">
                    <a href="#/management/edit/{{product.id}}" class="btn btn-primary">Edit</a>
                    <a href="#/management/delete/{{product.id}}" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="row product-management">
    <a href="#/management/addProduct" class="btn btn-primary">Add Product</a>
</div>